# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*__pycache__
# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
models/
._models_llama2-7b-chat/
# Virtual environments
venv/
data/stats/
env/
ENV/
.env
.venv
/models
# Statistics and model files
*/*/wikipedia_stats/
llama_stats/
*/*/pretrained_stats/
*.npz
*.pt
*.bin
*.ckpt
*.model

# Results and data
outputs/
results/
*.csv
*.jsonl
*.xlsx
*.pkl
*.npy

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Editor-specific files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
